<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller landing page.">
    <meta name="author" content="Devcrud">
    <title>CC Profile</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/vendors/themify-icons/css/themify-icons.css') }}">
    <!-- Bootstrap + Steller main styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/steller.css') }}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='/imgs/logo.svg') }}" alt="Logo">></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#awan">Awan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cindi">Cindi</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" href="#mohan">Mohan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#iyon">Iyon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#umam">Umam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#dary">Dary</a>
                    </li>
                    <li class="nav-item">
                        <a class="- btn btn-primary rounded ml-4" href="#">Kelompok 4</a>
                    </li>
                </ul>
            </div>
        </div>          
    </nav>
    <!-- End of page navibation -->

    <!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">Hallo gaesss</h6>
                <h6 class="title">TEAM AWAN</h6>
                <p>Cloud Computing</p>

                <div class="buttons pt-3">
                    <button class="btn btn-primary rounded">Awan</button>
                    <button class="btn btn-dark rounded">Cindi</button>
                    <button class="btn btn-dark rounded">Mohan</button>
                    <button class="btn btn-dark rounded">Iyon</button>
                    <button class="btn btn-dark rounded">Umam</button>
                    <button class="btn btn-dark rounded">Dary</button>
                </div>  

            </div>              
            <div class="img-holder">
                <img src="{{ url_for('static', filename='/imgs/man.svg')}}" alt="">
            </div>      
        </div>  

    
    <!-- Awan section -->
    <section id="awan" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='/imgs/awan.png')}}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Karuniawan Arif Windianto</h6>
                    <p class="subtitle">21.83.0722</p>
                    <p>Halo, saya Awan, seorang mahasiswa dari Kelas 21TK03, Prodi Teknik Komputer di Universitas Amikom Yogyakarta. Yogyakarta sebuah kota yang kaya akan budaya dan seni. Pendidikan saya di dunia teknologi dimulai di sini, di Universitas Amikom Yogyakarta.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, eius, nam. Quo praesentium qui temporibus voluptatum, facilis aliquid eligendi fugiat beatae neque inventore non. Laborum repellendus consequatur ullam voluptatum asperiores.</p>
                    <button class="btn btn-primary rounded mt-3">Kelompok 4</button>                   
                </div>
            </div>
        </div>
    </section>


    <!-- Cindi section -->
    <section id="cindi" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='/imgs/cindi.png')}}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Cindi Fiorentina</h6>
                    <p class="subtitle">21.83.0752</p>
                    <p>Halo, saya Cindi, seorang mahasiswa dari Kelas 21TK03, Prodi Teknik Komputer di Universitas Amikom Yogyakarta. Yogyakarta sebuah kota yang kaya akan budaya dan seni. Pendidikan saya di dunia teknologi dimulai di sini, di Universitas Amikom Yogyakarta.</p>
                    <p>Dengan semangat belajar yang tinggi dan komitmen untuk berkontribusi pada dunia teknologi, saya berharap dapat terus berkembang di lingkungan akademis yang dinamis ini.</p>
                    <button class="btn btn-primary rounded mt-3">Kelompok 4</button>                   
                </div>
            </div>
        </div>
    </section>

        <!-- Mohan section -->
        <section id="mohan" class="section mt-3">
            <div class="container mt-5">
                <div class="row text-center text-md-left">
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='/imgs/henry.png')}}" alt="" class="img-thumbnail mb-4">
                    </div>
                    <div class="pl-md-4 col-md-9">
                        <h6 class="title">Mohan Henry Kusuma</h6>
                        <p class="subtitle">21.83.0747</p>
                        <p>Halo, saya Mohan, seorang mahasiswa dari Kelas 21TK03, Prodi Teknik Komputer di Universitas Amikom Yogyakarta. Yogyakarta sebuah kota yang kaya akan budaya dan seni. Pendidikan saya di dunia teknologi dimulai di sini, di Universitas Amikom Yogyakarta.</p>
                        <p>Dengan semangat belajar yang tinggi dan komitmen untuk berkontribusi pada dunia teknologi, saya berharap dapat terus berkembang di lingkungan akademis yang dinamis ini.</p>
                        <button class="btn btn-primary rounded mt-3">Kelompok 4</button>                   
                    </div>
                </div>
            </div>
        </section>

    <!-- Iyon section -->
    <section id="iyon" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='/imgs/iyon.png')}}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Iyondiansyah Eka Cahyo</h6>
                    <p class="subtitle">21.83.0687</p>
                    <p>Halo, saya Iyon, seorang mahasiswa dari Kelas 21TK02, Prodi Teknik Komputer di Universitas Amikom Yogyakarta. Yogyakarta sebuah kota yang kaya akan budaya dan seni. Pendidikan saya di dunia teknologi dimulai di sini, di Universitas Amikom Yogyakarta.</p>
                    <p>Dengan semangat belajar yang tinggi dan komitmen untuk berkontribusi pada dunia teknologi, saya berharap dapat terus berkembang di lingkungan akademis yang dinamis ini.</p>
                    <button class="btn btn-primary rounded mt-3">Kelompok 4</button>                   
                </div>
            </div>
        </div>
    </section>

        <!-- Umam section -->
        <section id="umam" class="section mt-3">
            <div class="container mt-5">
                <div class="row text-center text-md-left">
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='/imgs/umam.png')}}" alt="" class="img-thumbnail mb-4">
                    </div>
                    <div class="pl-md-4 col-md-9">
                        <h6 class="title">Muhammad Khoirul Umam</h6>
                        <p class="subtitle">21.83.0732</p>
                        <p>Halo, saya Umam, seorang mahasiswa dari Kelas 21TK03, Prodi Teknik Komputer di Universitas Amikom Yogyakarta. Yogyakarta sebuah kota yang kaya akan budaya dan seni. Pendidikan saya di dunia teknologi dimulai di sini, di Universitas Amikom Yogyakarta.</p>
                        <p>Dengan semangat belajar yang tinggi dan komitmen untuk berkontribusi pada dunia teknologi, saya berharap dapat terus berkembang di lingkungan akademis yang dinamis ini.</p>
                        <button class="btn btn-primary rounded mt-3">Kelompok 4</button>                   
                    </div>
                </div>
            </div>
        </section>

            <!-- Dary section -->
    <section id="dary" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename='/imgs/dary.png')}}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Dary Fajar Ayyasy</h6>
                    <p class="subtitle">21.83.0753</p>
                    <p>Halo, saya Dary, seorang mahasiswa dari Kelas 21TK03, Prodi Teknik Komputer di Universitas Amikom Yogyakarta. Yogyakarta sebuah kota yang kaya akan budaya dan seni. Pendidikan saya di dunia teknologi dimulai di sini, di Universitas Amikom Yogyakarta.</p>
                    <p>Dengan semangat belajar yang tinggi dan komitmen untuk berkontribusi pada dunia teknologi, saya berharap dapat terus berkembang di lingkungan akademis yang dinamis ini.</p>
                    <button class="btn btn-primary rounded mt-3">Kelompok 4</button>                   
                </div>
            </div>
        </div>
    </section>


    <!-- Page Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.awan.com" target="_blank">Kelompok Awan</a></p>
                </div>
                <div class="col-sm-6">
                    <div class="socials">
                        <a class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-github"></i></a>
                        <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <!-- End of page footer -->
	
	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
	<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- steller js -->
    <script src="assets/js/steller.js"></script>

</body>
</html>
